<aside class="sidebar">

    <div class="logo">
        <h2>REMADA</h2>
        <span>Sistema Inteligente</span>
    </div>

    <hr>

    <nav>

        <a href="/">
            <i class="bi bi-grid-fill"></i>
            Dashboard
        </a>

        <a href="/cadastros/tela">
            <i class="bi bi-folder-plus"></i>
            Cadastros
        </a>

        <a href="/planejamento/tela">
            <i class="bi bi-calendar-week"></i>
            Planejamento
        </a>

        <a href="/motor/tela">
            <i class="bi bi-cpu"></i>
            Gerar Grade
        </a>

        <a href="/motor/diagnostico/tela">
            <i class="bi bi-exclamation-triangle"></i>
            Diagnóstico
        </a>

    </nav>

</aside>