<aside class="sidebar">

    <div class="logo">

        <h2>REMADA</h2>

        <span>Sistema Inteligente</span>

    </div>

    <hr>

    <nav>

        <a href="/">
            <i class="bi bi-grid-fill"></i>
            Dashboard
        </a>

        <a href="/escolas/tela">
            <i class="bi bi-building"></i>
            Escolas
        </a>

        <a href="/professores/tela">
            <i class="bi bi-person-workspace"></i>
            Professores
        </a>

        <a href="/disciplinas/tela">
            <i class="bi bi-book"></i>
            Disciplinas
        </a>

        <a href="/turmas/tela">
            <i class="bi bi-people"></i>
            Turmas
        </a>

        <a href="/disponibilidades/tela">
            <i class="bi bi-calendar-week"></i>
            Disponibilidades
        </a>

        <a href="/motor/tela">
            <i class="bi bi-cpu"></i>
            Gerar Grade
        </a>

        <a href="/motor/diagnostico/tela">
            <i class="bi bi-exclamation-triangle"></i>
            Diagnóstico
        </a>

    </nav>

</aside>